body{align-items:center; justify-content:center; background:#222; display:flex;
text-align:center; flex-direction:column;font-family:"Kavoon";}
.container{display:flex; align-items:center; justify-content:center;flex-direction:column;
max-width:350px; margin:0 auto; gap:1px; width:90%; background:#fff; color:#000; padding:10px;}
.btn_wrap{display:flex; justify-content:left; width:100%;}
.back_btn{text-decoration:none; background:#FFD60A; color:#000; padding:8px 14px; border-radius:20px;}
h2{font-weight:400;}
.card{width: 100%; background: transparent; box-sizing:border-box; padding:5px; display:grid; gap:10px;
grid-template-columns: repeat(2, 1fr); }
.item-wrap{display:flex; box-shadow:.5px 2px 6px 0px rgba(0, 0, 0, 0.3); flex-direction:column; border-radius:2px;}
.square{background:#e91e63;  text-align:center; flex-direction:column; border-radius: 2px 2px 0px 0px;
justify-content:center; align-items:center; display:flex; padding:5px;}
.item-wrap img{width:100%;}
.item{padding:10px;}
.circle{background:#FFD60A; border-radius:50%; width:25px; height:25px; display:inline-flex; vertical-align:middle;
justify-content:center;}
.item h4{font-weight:400; color:#000; margin:0;}
.dress{background:#b39ddb;}
.jeans{background:#80deea;}
.top{background:#f48fb1;}
.accessories{background:#ec7d8d;}
.footwear{background:#f0f4c3;}