body{align-items:center; justify-content:center; background:#000; min-height:100vh;display:flex;
text-align:center; flex-direction:column;font-family:"Kavoon";}
h1{color:#FFD60A;  font-size:28px; text-align:center; letter-spacing:1px;}
.main{display:grid; grid-template-columns: repeat(2, 1fr); align-items:center; justify-content:center;
max-width:350px; margin:0 auto; gap:1px; width:90%; border:5px solid #fff; background:#fff;}
.box_outliner{border:2px solid #fff; display:flex;}
.box{aspect-ratio: 1/1; overflow:hidden; display:flex; perspective:1000px; padding:16px;
border: 2px solid transparent; border-radius:20px; position:relative; transition: transform 0.2s, box-shadow 0.2s;}
.box:hover{transform: translateY(-5px); box-shadow: 0 10px 20px rgba(0,0,0,0.3);border: 2px solid #FFD60A;}
.door::after {content: "";width: 10px;height: 10px;border-radius: 50%;position: absolute;
  right: 4px; z-index:2; top:50%; background: radial-gradient(circle at 30% 30%, #bbb, #333);}
.door{display:flex; width:100%; height:100%; position:absolute; transform-origin: left; flex-direction:column;
transition: transform 0.6s ease-in-out; inset:0; z-index:2; justify-content:center; align-items:center;}
.box:hover .door {transform: rotateY(-100deg);box-shadow: -10px 0 20px rgba(0,0,0,0.4);}

img{display:block; width:70%; object-fit:contain;}
.inside{position:absolute; inset:0; display:flex; justify-content:center; align-items:center; font-size:18px;
background: linear-gradient(135deg, #fff, #f3f3f3); border-radius:12px;}
.card_link{text-decoration:none; color:#333; display:flex; flex-direction:column;align-items:center;
border:1px solid #acacac; gap:6px; padding:10px;}
.icon{transition: all 0.3s ease; width:55px; height:55px; margin-bottom:10px;}
.card_link h3 {margin:0; font-size:15px; font-weight:400;}
.cta{font-size:11px; color:black; padding:2px 10px; border-radius:20px; background:#FFD60A; transition:0.3s;}

.width_100{max-width:100%;}
.box:hover .icon {transform: scale(1.3);}
.box:hover .cta {transform: scale(1.1);}

/* LABEL ON DOOR */
.category { font-size: 14px;text-align: center; margin-bottom:5px;}
.view-btn {margin-bottom: 10px; background: #FFD60A;color: black; padding: 4px 12px;border-radius: 20px;
  font-size: 12px;box-shadow: 0 2px 8px rgba(0,0,0,0.3);}
.first{ background:skyblue; }
.box:nth-child(1) .inside {background: #E9F5FF;}
.second{background:skyblue; }
.box:nth-child(2) .inside {background: #FFF4E6;}
.third{background:#f8c577;}
.box:nth-child(3) .inside {background: #FFF4E6;}
.fourth{background:#f5c493;}
.box:nth-child(4) .inside {background: #FFF4E6;}
.fifth{background:#83c2d1; }
.box:nth-child(5) .inside {background: #FFF4E6;}
.sixth{background:#f3c4c8; }
.box:nth-child(6) .inside {background: #FFF4E6;}
.seventh{background:#e3e4e8; }
.box:nth-child(7) .inside {background: #FFF4E6;}
.eighth{background:#b3dbd3; }
.box:nth-child(8) .inside {background: #FFF4E6;}
@media (max-width:480px){
    h1{font-size:24px;}
}